.article{

    &__text{
        padding: 0 16px;

        @media screen and (min-width: $tablet) {
            padding: 0;
            max-width: 45%;
        }
    }

    &__text-wrapper{
        height: 90px;
        overflow: hidden;

        @media screen and (min-width: $tablet) {
            height: 160px;
        }

        &--show-all{
          height: auto;
        }
    }

    &__item{
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 18px;
        margin-bottom: 20px;

        @media screen and (min-width: $tablet) {
            line-height: 20px;
        }
    }

    &__item:last-child{
        margin-bottom: 0;
    }

    &__show-more{
        margin-top: 16px;
    }

    &__img-block{
        margin-top: 16px;

        @media screen and (min-width: $tablet) {
            height: auto;
            margin-top: 0;
            width: 50%;
        }
    }

    &__img{
        @media screen and (min-width: $tablet) {
            border-radius: 6px;
        }
    }
}
