.footer{
    color: $activeLinkColor;
    font-size: 14px;
    line-height: 16px;
    padding: 25px 16px 19px 16px;

    @media screen and (min-width: $tablet) {
        padding: 40px 24px 24px 24px;
    }
    
    @media screen and (min-width: $desktop) {
        padding: 40px 32px 32px 32px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: $tablet) {
            flex-direction: row;
        }
    }

    &__item{
        margin-top: 16px;
        text-align: center;

        @media screen and (min-width: $tablet) {
            max-width: 218px;
        }

        @media screen and (min-width: $desktop) {
            max-width: 330px;
        }

        &:first-child{
            text-align: left;
        }

        &:last-child{
            text-align: right;
        }
    }

    &__link{
        color: $activeLinkColor;
    }
}
