.header{
    align-items: center;
    background-color: $bgSite;
    display: flex;
    border-bottom: 1px solid $secDelColor;
    height: 88px;
    justify-content: space-between;
    padding: 0 8px;

     @media screen and (min-width: $desktop) {
        margin-top: -88px;
        visibility: hidden;
     }

    &::before,
    &::after {
        content: "";
        border: 1px solid $borderColor;
        border-radius: 1px;
        height: 32px;
        width: 2px;
    }

    &::before {
        display: none;
        order: 1;

        @media screen and (min-width: $tablet) {
            display: block;
            margin: 0 12px;
            order: 1;
        }
    }

    &::after {
        margin: 0 12px 0 auto;
        order: 4;

        @media screen and (min-width: $tablet) {
            margin: 0 12px;
        }
    }

    &__logo{
        order: 2;
    }

    &__button{
        margin: 0 8px;
    }

    &__logo-container{
        display: flex;
        flex-grow: 1;
        margin: 0 8px;
    }

    &__logo{
        margin: 0 8px;
    }

    &__feedback-list{
        display: none;

        @media screen and (min-width: $tablet) {
            display: flex;
            margin-left: auto;
            margin-right: 8px;
            order: 3;
        }
    }

    &__services-list{
        order: 5;
        
        @media screen and (min-width: $desktop) {
            position: absolute;
            right: 32px;
            top: 130px;
            visibility: visible;
        }
    }
}
