.menu {
    background: $bgSite;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 320px;
    z-index: 10;

    &__header {
        align-items: center;
        background-color: $bgSite;
        display: flex;
        flex-shrink: 0;
        padding: 18px 24px;
    }

    &__logo {
        margin-left: 16px;
        margin-right: auto;

        @media screen and (min-width: $desktop) {
            margin-left: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-bottom: auto;
        padding-top: 12px;
    }

    &__link {
        display: block;
        line-height: 24px;
        padding: 16px 24px;
        position: relative;

        &::before {
            content: "";
            background-image: url("../img/link_back.png");
            height: 32px;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 12px;
            transition: opacity 0.5s;
            width: 4px;
        }

        &--active::before,
        &:hover::before {
            opacity: 1;
        }
    }

    &__footer {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 236px;
        padding: 16px 24px 32px;
    }

    &__feedback-list {
        margin-bottom: 16px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        margin-bottom: auto;
    }

    &__email {
        margin-bottom: 12px;
    }

    &__phone {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: -0.6px;
        line-height: 32px;
    }

    &__language-list {
        display: flex;
    }

    &__language-item {
        margin-right: 7px;
    }

    &__language-link--active {
        color: $activeLinkColor;
    }

    &__button-close {
        @media screen and (min-width: $desktop) {
            display: none;
        }
    }
}
