.menu{
  background: #FFFFFF;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 320px;
}

.menu__header{
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-shrink: 0;
  padding: 18px 24px;
}

.menu__logo{
  margin-left: 16px;
  margin-right: auto;
}

.menu__list{
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  padding-top: 12px;
}

.menu__link{
  /*background: url("../img/transparent.png") no-repeat 0 50%;*/
  display: block;
  line-height: 24px;
  padding: 16px 24px;
  position: relative;
}

.menu__link::before {
  content: "";
  background-image: url("../img/link_back.png");
  height: 32px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 12px;
  transition: opacity 0.5s;
  width: 4px;
}

.menu__link--active::before,
.menu__link:hover::before{
  opacity: 1;
}

/* footer*/

.menu__footer{
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 236px;
  padding: 16px 24px 32px;
}

.menu__feedback-list{
  margin-bottom: 16px;
}

.menu__contacts{
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.menu__email{
  margin-bottom: 12px;
}

.menu__phone{
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.6px;
  line-height: 32px;
}

.menu__language-list{
  display: flex;
}

.menu__language-item{
  margin-right: 7px;
}

.menu__language-link--active{
  color: $activeLinkColor;
}
@media screen and (min-width: $desktop) {
  .menu {
    box-shadow: none;
  }
}
