.nav {

    &::after{
        content: "";
        background: linear-gradient(270deg, $bgSections 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        height: 40px;
        position: absolute;
        right: 0;
        top: 24px;
        width: 24px;

        @media screen and (min-width: $desktop) {
            display: none;
        }
    }

    &__menu{
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;

        @media screen and (min-width: $desktop) {
            flex-wrap: wrap;
            overflow: hidden;
        }
    }

    &__item{
        white-space: nowrap;

        @media screen and (min-width: $desktop) {
            margin: 8px 10px 0 0;
        }

        &:last-child{
            border-right: 24px solid transparent;

            @media screen and (min-width: $desktop) {
                border-right: none;
            }
        }
    }


    &__link{
        display: block;
        color: #7E7E82;
        padding: 9px 16px;

        &--active,
        &:hover{
            background-color: $bgSite;
            border: 2px solid $navActiveBorder;
            border-radius: 6px;
            padding: 7px 14px;
        }

        &:not(&--active):hover{
            opacity: 0.7;
        }
    }

}