.overlay{
    background: $bgSite;
    display: none;
    height: 100vh;
    left: 0;
    opacity: 0.96;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 9;

    @media screen and (min-width: $desktop) {
        z-index: 15;
    }

    &--visible {
        display: block;
    }

    &--popup {
        z-index: 15;
    }
}
