.popup {
    background-color: $bgSite;
    border-left: 1px solid $secDelColor;
    box-shadow: none;
    display: block;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 320px;
    z-index: 20;

    @media screen and (min-width: $tablet) {
        max-width: 440px;
        width: auto;
    }

    &__button-close {
        margin-top: 24px;
        margin-left: 16px;

        @media screen and (min-width: $tablet) {
            margin: 0;
            position: absolute;
            left: -72px;
            top: 32px;
        }
    }

    &__title {
        font-size: 24px;
        margin-top: 32px;
    }
}
