.prices__list{
    display: flex;
}

.prices__item{
    background-color: $bgSite;
    border-radius: 6px;
    box-sizing: border-box;
    height: 200px;
    margin-right: 16px;
    padding: 16px;
    position: relative;
    min-width: 260px;
    width: 260px;
}

.prices__info{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    line-height: 18px;
}

.prices__info--caption{
    display: none;
}

.prices__link{
    background-position-x: 96px;
    bottom: 16px;
    position: absolute;
    right: 16px;
    width: 119px;
}

.prices__info-title{
    color: $activeLinkColor;
    display: block;
    line-height: 16px;
    margin-bottom: 4px;
}

@media screen and (min-width: $tablet) {
    .prices__list{
        background-color: $bgSite;
        border-radius: 6px;
        flex-direction: column;
        padding: 0 16px;
    }

    .prices__item{
        border-bottom: 1px solid $borderColor;
        display: flex;
        height: auto;
        margin-right: 0;
        min-width: auto;
        padding: 16px 0;
        width: 100%;
    }

    .prices__item:last-child{
        border: none;
    }

    .prices__info{
        align-items: center;
        flex-direction: row;
        height: 32px;
        width: 100%;
    }

    .prices__info--caption{
        display: flex;
        padding: 0 135px 0 16px;
    }

    .prices__info-item{
        width: 17.5%
    }

    .prices__info-item:first-child{
        width: 65%
    }

    .prices__info-title{
        display: none;
    }

    .prices__info-title--caption{
        display: block;
    }

    .prices__link{
        position: static;
    }
}

@media screen and (min-width: $desktop) {
    .prices__list{
        padding: 0 24px;
    }

    .prices__info--caption{
        padding: 0 143px 0 24px;
    }
}
