.section {
  border-top: 1px solid $secDelColor;
  min-width: 320px;
  padding-bottom: 34px;
}

.section__title {
  background: linear-gradient(90deg, $bgSections 1.39%, $bgSite 100%);
  color: #7E7E82;
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 16px;
  text-transform: uppercase;
}

.section__content{
  overflow: hidden;
  padding: 16px 0 8px 16px;
  position: relative;
}

.section__show-more {
  display: none;
}

.section__pagination {
  position: absolute;
  text-align: center;
}

@media screen and (min-width: $tablet) {
  .section__content{
    padding: 24px 0 16px 24px;
    overflow: hidden;
  }

  .section__content::after{
    display: none;
  }

  .section__content--brands{
    max-height: 200px;
  }

  .section__content--equipment{
    max-height: 200px;
  }

  .section__content--show-all{
    max-height: none;
  }

  .section__pagination {
    display: none;
  }

  .section__show-more {
    display: block;
    margin-left: 24px;
  }
}

@media screen and (min-width: $desktop) {
  .section__content {
    padding-left: 32px;
  }

  .section__show-more {
    margin-left: 32px;
  }
}
