.swiper-container::after{
  background: linear-gradient(270deg, #F8F8F8 16.84%, transparent 100%);
  content: "";
  height: 82px;
  position: absolute;
  right: 0;
  top: -5px;
  width: 24px;
  z-index: 2;
}

.swiper-container {
  height: 120px;
}

@media screen and (min-width: $tablet) {
  .swiper-container {
    height: auto;
  }
}