.wrapper{
    background-color: $bgSections;
    margin: 0 auto;
    min-width: $minWidth;
    position: relative;

    @media screen and (min-width: $desktop) {
        padding-left: 320px;
    }

    &--hide-overflow{
      height: 100vh;
      overflow: hidden;
    }
}
