$bgSite: #FFFFFF;
$bgSections: #F8F8F8;
$activeLinkColor: #7E7E82;
$borderColor: #EAEAEA;
$btnColor: #FF3E79;
$secDelColor: #D9FFF5;
$navActiveBorder: #B8FFEC;
$text: #1B1C21;

$minWidth: 320px;
$tablet: 768px;
$desktop: 1366px;
